<header class="appbar">
  <div class="appbar-content">
    <div class="logo">
      <img src="../assets/images/logoccs.png" alt="Coumba Car Services">
    </div>


    <nav class="nav-links" [class.active]="menuOpen">
      <a routerLink="" (click)="closeMenu()">Accueil</a>
      <a routerLink="" (click)="closeMenu()">À Propos</a>
      <a routerLink="" (click)="closeMenu()">Services</a>
      <a routerLink="" (click)="closeMenu()">Contacts</a>

    </nav>

    <div class="actions">
      <button class="call-btn">Réserver</button>
    </div>

    <div class="hamburger" [class.active]="menuOpen" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>


<div class="menu-overlay" [class.active]="menuOpen" (click)="closeMenu()"></div>

<router-outlet></router-outlet>
